<!DOCTYPE html>
<html lang="hu">
<head>
  <title>Töszkó</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel='stylesheet' href='/style.css' >
</head>
  <header>
    <div class="menus">
      <div class="logo">
        <p>
          <a href="index">Töszkó</a>
        </p>
      </div>

      <div class="belepes">
        <p>
          <a sec:authorize="!isAuthenticated()" href="/login">Belépés</a>
        </p>
        <p>
          <a sec:authorize="isAuthenticated()" href="/logout">Kilépés</a>
        </p>
      </div>

      <div class="regi" sec:authorize="!isAuthenticated()" >
        <p>
          <a href="register">Regisztráció</a>
        </p>
      </div>

      <div class="kosar">
        <p>
          <a href="cart">Kosár</a>
        </p>
      </div>
    </div>

    <ul class="oldalak">
      <li id="active" class="elemek" sec:authorize="hasAuthority('ROLE_ADMIN')">
        <a href="arucikk_hozzaadasa">Készlet kezelő oldal(admin only)</a>
      </li>
      <li class="elemek" sec:authorize="hasAuthority('ROLE_ADMIN')">
        <a href="transport">Szállítás kezelő oldal(admin only)</a>
      </li>
      <li class="elemek" sec:authorize="hasAuthority('ROLE_ADMIN')">
        <a href="felhasznalok_kezelese">Felhasználó kezelő oldal(admin only)</a>
      </li>
      <li class="elemek">
        <a href="panaszbenyujtas">Panaszbenyújtási űrlap</a>
      </li>
      <li class="elemek" sec:authorize="isAuthenticated()">
        <a href="premium">Prémium</a>
      </li>
    </ul>

    <hr>

  </header>
<body>


<div class="update">
  <div class="stuff">
  <h2>Áru hozzáadása:</h2>
  <form action="#" th:action="@{/registarucikk}" method="post">
    <label>Név:
      <input type="text" name="nev" id="nev" required></input>
    </label> <br/>
    <label>Ár:
      <input type="number" name="ar" id="ar" required></input>
    </label> <br/>
    <label>Darab szám:
      <input type="number" name="db" id="db" required></input>
    </label> <br/>
    <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>
  </form>
  </div>

  <div class="stuff">
  <h2>Áru törlése ID alapján:</h2>
  <form th:action="@{/arucikk_hozzaadasa/{id}}" method="post">
    <label>Név:
      <input type="number" name="id" required></input>
    </label> <br/>
    <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>
  </form>
  </div>

  <div class="stuff">
  <h2>Árucikk ár és darab szám frissítése:</h2>
  <form th:action="@{/arucikk_update/{id}}" method="post">
    <label>Árucikk ID:
      <input type="text" name="id" required></input>
    </label> <br/>
    <label>Árucikk ÁR:
      <input type="number" name="ar" required></input>
    </label> <br/>
    <label>Árucikk DB:
      <input type="number" name="db" required></input>
    </label> <br/>
    <input type="submit" value="Submit" class="btn-sm btn-dark details"></input>
  </form>
  </div>


  <div class="stuff output">
    <h2>Termékek:</h2>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Név</th>
        <th>Ár</th>
        <th>Db</th>
      </tr>
      </thead>
      <tbody style="width: 20%; margin: 50px;padding: 80px">
      <!--span th:each="task,iter : ${foo.tasks}"-->
      <tr th:each="aru: ${arucikk}">
        <td th:text="${aru.id}"></td>
        <td th:text="${aru.nev}"></td>
        <td th:text="${aru.ar}"></td>
        <td th:text="${aru.db}"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
<footer>
  <div class="footer">
    <div>
      <h4>
        Elérhetőségek:
      </h4>
    </div>
    <div class="footerlista">
      <ul>
        <li>Tel.: nincs</li>
        <li>Fax: ez sincs</li>
      </ul>
    </div>
    <div>
      <p>Nem vállalunk felelősséget semmiért lorem ipsum lorem ipsum lorem ipsum</p>
    </div>
  </div>
</footer>
</html>